.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.column-setup {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.column-main {
  flex: 2;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.full-width {
  width: 100%;
}
.item-form {
  display: flex;
  gap: 10px;
  align-items: center;
}
.item-name {
  flex-grow: 1;
}
.item-price {
  width: 100px;
}
table {
  width: 100%;
}
mat-chip-option {
  --mdc-chip-elevated-container-color: #e0e0e0;
}
mat-chip-option[aria-selected="true"] {
  --mdc-chip-elevated-container-color: #c8e6c9; /* Verde claro */
}